:root {
    --success: #2ecc71;
}

#toast-container {
    & .toast-success {
        background: var(--success) !important;
    }
}

.old.day,
.new.day {
    color: #e2e2e2 !important;
}

.select2-container {
    width: 100% !important;
}

.turbolinks-progress-bar {
    height: 100px;
    background-color: green;
}

.note-editable {
    padding: 1.5rem !important;
}
